<div class="container-fluid">
    <div class="row">
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="col-sm-12 content-background">
            <div class="col-sm-12 pt-4 pl-4">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <h5><b>Change Password</b></h5>
                </div>
            </div>
            <div class="col-sm-12 pl-4 pt-4">
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="font-14">Old Password</label>
                        <input type="password" class="form-control" placeholder="Enter old password"
                            formControlName="oldPassword" required
                            [ngClass]="{'is-invalid':changePasswordForm.get('oldPassword').touched && changePasswordForm.get('oldPassword').invalid}"
                            required />
                        <div class="invalid-feedback">
                            <div>Old password is required!</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6"></div>
            </div>

            <div class="col-sm-12 pl-4">
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="font-14">New Password</label>
                        <div class="input-group mb-3 custom-tooltip" [tooltip]="passTemplate" placement="right"
                            [adaptivePosition]="false">
                            <input type="password" class="form-control" placeholder="Enter a new password"
                                formControlName="password"
                                [ngClass]="{'is-invalid':changePasswordForm.get('password').touched && changePasswordForm.get('password').invalid}"
                                required />
                        </div>
                        <ng-template #passTemplate>
                            <div>
                                <p class="font-12" style="text-align: center; color: #22223B; font-weight: bold;">
                                    Password must have:
                                </p>
                                <label class="col font-11"
                                    [ngClass]="changePasswordForm.controls['password'].hasError('required') || changePasswordForm.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
                                    <!-- <i class="material-icons"
                                        [class.material-icons-green]="!changePasswordForm.controls['password'].hasError('required') && !changePasswordForm.controls['password'].hasError('minlength')">{{
                                        changePasswordForm.controls['password'].hasError('required') ||
                                        changePasswordForm.controls['password'].hasError('minlength') ? 'cancel' :
                                        'check_circle' }}</i> -->
                                    At least 8 characters
                                </label>
                                <label class="col font-12"
                                    [ngClass]="changePasswordForm.controls['password'].hasError('required') || changePasswordForm.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
                                    <!-- <i class="material-icons"
                                        [class.material-icons-green]="!changePasswordForm.controls['password'].hasError('required') && !changePasswordForm.controls['password'].hasError('hasCapitalCase')">{{
                                        changePasswordForm.controls['password'].hasError('required') ||
                                        changePasswordForm.controls['password'].hasError('hasCapitalCase') ? 'cancel' :
                                        'check_circle' }}</i> -->
                                    At least 1 capital letter
                                </label>
                                <label class="col font-12"
                                    [ngClass]="changePasswordForm.controls['password'].hasError('required') || changePasswordForm.controls['password'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
                                    <!-- <i class="material-icons"
                                        [class.material-icons-green]="!changePasswordForm.controls['password'].hasError('required') && !changePasswordForm.controls['password'].hasError('hasSmallCase')">{{
                                        changePasswordForm.controls['password'].hasError('required') ||
                                        changePasswordForm.controls['password'].hasError('hasSmallCase') ? 'cancel' :
                                        'check_circle' }}</i> -->
                                    At least 1 small letter
                                </label>
                                <label class="col font-11"
                                    [ngClass]="changePasswordForm.controls['password'].hasError('required') || changePasswordForm.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
                                    <!-- <i class="material-icons"
                                        [class.material-icons-green]="!changePasswordForm.controls['password'].hasError('required') && !changePasswordForm.controls['password'].hasError('hasNumber')">{{
                                        changePasswordForm.controls['password'].hasError('required') ||
                                        changePasswordForm.controls['password'].hasError('hasNumber') ? 'cancel' :
                                        'check_circle' }}</i> -->
                                    At least 1 number
                                </label>
                                <label class="col font-12"
                                    [ngClass]="changePasswordForm.controls['password'].hasError('required') || changePasswordForm.controls['password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
                                    <!-- <i class="material-icons"
                                        [class.material-icons-green]="!changePasswordForm.controls['password'].hasError('required') && !changePasswordForm.controls['password'].hasError('hasSpecialCharacters')">{{
                                        changePasswordForm.controls['password'].hasError('required') ||
                                        changePasswordForm.controls['password'].hasError('hasSpecialCharacters') ?
                                        'cancel' :
                                        'check_circle' }}</i> -->
                                    At least 1 special character(such as !@#$%^&*)
                                </label>
                            </div>
                        </ng-template>
                    </div>
                </div>
                <div class="col-sm-6"></div>
            </div>

            <div class="col-sm-12 pl-4 ">
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="font-14">Confirm New Password</label>
                        <input type="password" class="form-control" placeholder="Re-enter the new password"
                            formControlName="confirmpassword" required
                            [ngClass]="{'is-invalid':changePasswordForm.get('confirmpassword').touched && changePasswordForm.get('confirmpassword').invalid}"
                            required />
                        <div class="invalid-feedback">
                            <div>Confirm new password is required!</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6"></div>
            </div>
            <div class="row pt-2">
                <div class="col-sm-12" style="text-align: right">
                    <button type="submit" class="btn" [disabled]="!changePasswordForm.valid"
                        style="background-color:#145DA0;color: white;">Save
                        Changes</button>
                </div>
            </div>
        </form>
    </div>
</div>