<!--new design start-->
<div class="app-body">
  <div class="col-md-12 px-0">
    <div class="row pt-5">
      <div class="col-md-12 text-center py-2">
        <!-- <button type="button" class="btn btn-sm bg-white btn-pill rounded-pill btn-outline-dark btn-customize"><b>Guideline</b></button>                         
        <button type="button" class="btn btn-sm bg-white btn-pill rounded-pill btn-outline-dark btn-customize mx-2"><b>Reference</b></button>
        <button type="button" class="btn btn-sm bg-white btn-pill rounded-pill btn-outline-dark btn-customize"><b>Contact Us</b></button> -->
      </div>
      <div class="col-md-12" style="padding-top: 130px;">
        <div class="card-body col-md-8 offset-md-2">
          <p class="text-justify font-14">
              Your TIN was produced using your passport. Please click the button below
              and fill out the form.
          </p>
          <div class="row">
            <div class="col-12">
              <button routerLink="/auth/no-nid-checklist" type="button" class="btn btn-block" style="background-color:#145DA0;color: white;">Proceed to form</button>
            </div>
          </div>
          <div class="row custom-row">
            <div class="col-12">                     
            </div>
          </div>
      </div>
      </div>
    </div>
  </div>

</div>
<!--new design end-->



