<!DOCTYPE html>
<html>

<head>
    <title>Pending Approval List</title>
</head>

<div class="col-md-12 content-background">
    <div class="row">
        <div class="col-5 col-sm-5 titleSection">
            <span class="text-border">
                <i class="fa fa-chevron-left iconStyle">
                </i>Pending Approval List&nbsp; &nbsp;
            </span>
        </div>
        <div class="col-4 col-sm-4 p-0">
            <label class="mt-2" for="assessmentYear"> <strong>Assessment Year : </strong> 2021-2022</label>
        </div>
        <div class="col-3 col-sm-3">
            <div class="input-group rounded">
                <input type="text" class="form-control rounded" placeholder="Search TIN" aria-label="Search"
                    aria-describedby="search-addon" (keyup)='search($event.target.value)' />
                <span class="input-group-text border-0" id="search-addon">
                    <i class="fa fa-search"></i>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="content-background formSection">
                <form class="form-horizontal" aria-labelledby="title">
                    <div class="table-responsive tableBgStyle" id="returnListTable">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="5%">SL.</th>
                                    <th width="10%">TIN</th>
                                    <th width="25%">Taxpayer Name</th>
                                    <th width="25%">Submission Date</th>
                                    <th width="35%" class="text-center">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of getAllPendingApprovalList; let k = index">
                                    <td width="5%">{{ k+1 }}</td>
                                    <td width="10%">{{ item.tinNo }}</td>
                                    <td width="25%">{{ item.assesName }}</td>
                                    <td width="25%">{{ item.submissionDate }}</td>
                                    <td width="35%" class="text-center">
                                        <!-- <button type="button" (click)="requestSent(k,item.tinNo)" class="btn btn-sm btn-pill btn-warning ml-1">
                                            Pending for Approval
                                        </button> -->
                                        <span class="badge badge-info badge-lg" style="padding: 5px; font-size: 12px;">Pending for Approval</span>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</html>