<div class="app-body">
    <div class="col-md-12 px-0">
        <div class="row pt-2">
            <div class="col-md-12 text-center py-2">
                <!-- <button type="button"
                    class="btn btn-sm bg-white btn-pill rounded-pill btn-outline-dark btn-customize"><b>Guideline</b></button>
                <button type="button"
                    class="btn btn-sm bg-white btn-pill rounded-pill btn-outline-dark btn-customize"><b>Contact
                        Us</b></button> -->
            </div>
            <div class="col-md-12">
                <p>Welcome to eReturn!</p>
                <ul>
                    <li>You will need a biometrically verified mobile phone number for using eReturn.</li>

                    <li>For best experience and performance, use a laptop or a desktop computer. Mobile devices may not
                        display all features.
                    </li>

                    <li>To maintain confidentiality of your tax information, never share your OTP or password with
                        others.
                    </li>

                    <li>Keep all necessary documents with you when using eReturn. You will need to enter many
                        information from your documents.
                    </li>

                    <li>You do not need to attach any documents.Just fill in relevant fields, and keep related documents
                        with you for any future reference.
                    </li>

                    <li>All computations in eReturn will be based on your inputs, and will be suggestive figures. You
                        have the option to edit any system calculation if your own calculations differ.
                    </li>

                    <li>
                        <span style="color: blue;">
                            If you have any source tax or advance tax payment, online filing may not provide credit at
                            this
                            moment (development of verification process is ongoing). However, you can prepare your paper
                            return using eReturn system.
                        </span>
                    </li>

                    <li>
                        When preparing return, you can use system help (by putting cursor on <i
                            class="fa fa-question-circle-o fa-md"></i> sign).
                    </li>

                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <button type="button" [routerLink]="['/auth/sign-in']" style="margin-left: 10px!important;"
                    class="btn btn-sm btn-pill rounded-pill btn-danger closeBtn mb-3"><i
                        class="fa fa-close mr-1"></i>Close</button>
            </div>
        </div>
    </div>
</div>