<!DOCTYPE html>
<html>

<head>
    <title>Return Summary</title>
</head>

<div class="col-md-12 content-background">
    <div class="row">
        <div class="col-8 col-sm-8 titleSection">
            <span class="text-border">
                <i class="fa fa-chevron-left iconStyle">
                </i>Return Summary &nbsp; &nbsp;
            </span>
        </div>
        <div class="col-4 mt-4">
            <label class="float-right" for="assessmentYear"> <strong>Assessment Year : </strong> 2021-2022</label>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="content-background formSection">
                <form class="form-horizontal" aria-labelledby="title">
                    <div class="table-responsive tableBgStyle" id="returnSummaryTbl">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th colspan="3">Number of Normal Return Submitted</th>
                                    <th colspan="3">Number of 82BB Return Submitted</th>
                                    <th rowspan="2">Total number of Individual Return</th>
                                    <th rowspan="2">Total number of Company Return</th>
                                    <th rowspan="2">Total number of Other Taxpayers Returns</th>
                                    <th rowspan="2">Total number of Return</th>
                                </tr>
                                <tr>
                                    <th>Individual Taxpayer</th>
                                    <th>Company Taxpayer</th>
                                    <th>Others (Firm/AOP etc.)</th>
                                    <th>Individual Taxpayer</th>
                                    <th>Company Taxpayer</th>
                                    <th>Others (Firm/AOP etc.)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{15000 | number}}</td>
                                    <td>{{10000 | number }}</td>
                                    <td>{{25000 | number }}</td>
                                    <td>{{40000 | number }}</td>
                                    <td>{{50000 | number }}</td>
                                    <td>{{60000 | number }}</td>
                                    <td>{{540000 | number }}</td>
                                    <td>{{120000 | number }}</td>
                                    <td>{{620000 | number }}</td>
                                    <td>{{90000 | number }}</td>
                                </tr>
                                <tr>
                                    <td>{{450000 | number }}</td>
                                    <td>{{245000 | number }}</td>
                                    <td>{{320000 | number }}</td>
                                    <td>{{1120000 | number }}</td>
                                    <td>{{9610000 | number }}</td>
                                    <td>{{15000 | number}}</td>
                                    <td>{{10000 | number }}</td>
                                    <td>{{25000 | number }}</td>
                                    <td>{{40000 | number }}</td>
                                    <td>{{50000 | number }}</td>
                                </tr>
                                <tr>
                                    <td>{{40000 | number }}</td>
                                    <td>{{50000 | number }}</td>
                                    <td>{{60000 | number }}</td>
                                    <td>{{540000 | number }}</td>
                                    <td>{{120000 | number }}</td>
                                    <td>{{40000 | number }}</td>
                                    <td>{{50000 | number }}</td>
                                    <td>{{60000 | number }}</td>
                                    <td>{{540000 | number }}</td>
                                    <td>{{120000 | number }}</td>
                                </tr>
                                <tr>
                                    <td>{{15000 | number}}</td>
                                    <td>{{10000 | number }}</td>
                                    <td>{{25000 | number }}</td>
                                    <td>{{40000 | number }}</td>
                                    <td>{{50000 | number }}</td>
                                    <td>{{60000 | number }}</td>
                                    <td>{{540000 | number }}</td>
                                    <td>{{120000 | number }}</td>
                                    <td>{{620000 | number }}</td>
                                    <td>{{90000 | number }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</html>