<div class="row custom-container" style="margin-top: 10px;page-break-after: always;">
  <div class="col-sm-12">
    <div class="row px-2 pt-2 text-right">
      <div class="col-sm-12">
        <img src="assets\img\logo\eReturn_logo_png.png" alt="Logo" style="width:140px;">
      </div>
    </div>
    <div class="row px-2 pt-2 text-center">
      <div class="col-sm-12">
        <h5 class="font-weight-bolder">Application of time extension for return submission</h5>
        <p class="ft-12">[section 75(6) of the Income Tax Ordinance, 1984 (XXXVI of 1984)]</p>
      </div>
    </div>
    <div class="row px-2 pt-2 text-center">
      <div class="col-sm-12">
        <h5 class="font-weight-bolder">Applicant’s Copy</h5>
      </div>
    </div>
    <div class="row px-2 pt-3 text-center">
      <div class="col-sm-5 text-right mt-8 padding-0">
        Assessment Year
      </div>
      <div class="col-sm-7 text-left">
        &nbsp;<input type="text" class="assessment-input-box-len text-center" value="2" disabled>
        <input class="ml-1 assessment-input-box-len text-center" type="text" value="0" disabled>
        <input class="ml-1 assessment-input-box-len text-center" type="text" value="2" disabled>
        <input class="ml-1 assessment-input-box-len text-center" type="text" value="1" disabled>
        -
        <input class="ml-1 assessment-input-box-len text-center" type="text" value="2" disabled>
        <input class="ml-1 assessment-input-box-len text-center" type="text" value="2" disabled>
      </div>

    </div>
    <div class="row px-2 pt-4 text-center">
      <div class="col-sm-12">
        <!-- row -1 -->
        <div class="row border-top">
          <div class="col-sm-1 border-left border-right">01</div>
          <div class="col-sm-5 border-right">
            <div class="row">
              &nbsp;Name of the Assessee
            </div>
            <div class="row">
              &nbsp;{{taxpayerName}}
            </div>
          </div>
          <div class="col-sm-1 border-right">02</div>
          <div class="col-sm-5 border-right">
            <div class="row">&nbsp;Address</div>
            <div class="row text-justify">{{address}}</div>
          </div>
        </div>
        <!-- row - 2 -->
        <div class="row" style="height: 50px;">
          <div class="col-sm-1 border-left border-top  border-right">03</div>
          <div class="col-sm-5 border-top border-right">
            <div class="row">
              &nbsp;TIN
            </div>
            <div class="row">
              &nbsp;{{tin}}
            </div>
          </div>
          <div class="col-sm-1 border-right"></div>
          <div class="col-sm-5 border-right">
            <div class="row">

            </div>
          </div>
        </div>
        <!-- row -3 -->
        <div class="row border-top" style="height: 50px;">
          <div class="col-sm-1 border-left border-right">04</div>
          <div class="col-sm-5 border-right">
            <div class="row">&nbsp;Circle</div>
            <div class="row">&nbsp;{{circle}}</div>
          </div>
          <div class="col-sm-1 border-right">05</div>
          <div class="col-sm-5 border-right">
            <div class="row">
              &nbsp;Taxes Zone
            </div>
            <div class="row">&nbsp; {{taxZone}}</div>
          </div>
        </div>
        <!-- row -4 -->
        <div class="row border-top" style="height: 55px;">
          <div class="col-sm-1 border-left border-right">06</div>
          <div class="col-sm-11 border-right">
            <div class="row mt-1">
              <div class="col-sm-5 text-left padding-0">&nbsp;Applied extension upto
                <br>
                <p class="ml-1 ft-11">(DD– MM –YYYY)</p>
              </div>
              <div class="col-sm-7 text-left padding-0">
                <input class="assessment-input-box-len text-center" type="text" value="{{d1}}" disabled>
                <input class="assessment-input-box-len text-center" type="text" value="{{d2}}" disabled>
  
                <input class="ml-1 assessment-input-box-len text-center" type="text" value="{{m1}}" disabled>
                <input class="assessment-input-box-len text-center" type="text" value="{{m2}}" disabled>
                <input class="ml-1 assessment-input-box-len text-center" value="{{y1}}" type="text" disabled>
                <input class="assessment-input-box-len text-center" value="{{y2}}" type="text" disabled>
                <input class="assessment-input-box-len text-center" type="text" value="{{y3}}" disabled>
                <input class="assessment-input-box-len text-center" type="text" value="{{y4}}" disabled>
              </div>
            </div>
          </div>
        </div>
        <!-- row -5 -->
        <div class="row border-top" style="height: 80px;">
          <div class="col-sm-1 border-left border-right">07</div>
          <div class="col-sm-11 border-right">
            <div class="row">&nbsp;Reasons for time extension</div>
            <div class="row">&nbsp;{{reasonOfExtension}}</div>
          </div>
        </div>
         <!-- row -6 -->
          <div class="row border-top">
            <div class="col-sm-1 border-left border-right">08</div>
            <div class="col-sm-11">
              <div class="row" style="height: 50px;">
                <div class="col-sm-12 border-right text-left padding-0">
                  &nbsp;Signature and Date <span class="ft-13">[This is a system managed application and requires no signature]</span></div>
              </div>
              <div class="row border-top" style="height: 70px;">
                <!-- <div class="col-sm-1 border-right"></div> -->
                <div style="width: 45.5% !important;" class="border-right text-left padding-0">
                  <div class="p-0 col-12">&nbsp;Name</div>
                  <div class="p-0 col-12"> &nbsp;{{taxpayerName}}</div>
                </div>
                <div style="width: 54.5% !important;"  class="border-right">
                    <div class="col-12 text-left p-0">
                      <div class="col-12 p-0">&nbsp;Signature</div>
                      <!-- <div class="row col-12" style="font-style: italic;">&nbsp;This is a system-generated document.No signature is required.</div>
                      <div class="row col-12 ft-11 ps-signed" style="font-style: italic;">&nbsp;[to be signed by the person who will sign the return under section 75(3)]</div>    -->
                    </div>
                    <!-- <div class="row col-sm-12 text-left  padding-top-20">
                        <p class="ft-11">&nbsp;[to be signed by the person who will sign the return under section 75(3)]</p>
                    </div> -->
                </div>
              </div>
              <div class="row border-top" style="height: 70px;">
                <!-- <div class="col-sm-1 border-right">05B </div> -->
                <div style="width: 45.5% !important;"  class="border-right text-left padding-0"> 
                  <div class="p-0 col-12">&nbsp;Date of Signature (filing)</div>
                  <div class="p-0 col-12"> &nbsp;{{timeExtensionAppDate}}</div>
                </div>
                <div style="width: 54.5% !important;"  class="text-left border-right padding-0">
                  <div class="p-0 col-12">&nbsp;Place of Signature</div>
                  <!-- <div class="row col-12"> &nbsp;[online submission]</div> -->
                </div>
              </div>
            </div>
          </div>
             <!-- row - 07 -->
        <div class="row border-top" style="height: 120px;">
            <div class="col-sm-1 border-left border-right">09</div>
            <div class="col-sm-5 border-right">
              <div class="row mt-2">
                &nbsp;Time extended upto
              </div>
              <div class="row">
                &nbsp;<p class="ft-11">(DD-MM-YYYY)</p>
              </div>
              <div class="row">
                &nbsp;
                <input class="assessment-input-box-len text-center" type="text" value="{{dd1}}" disabled>
                <input class="assessment-input-box-len text-center" type="text" value="{{dd2}}" disabled>
  
                <input class="ml-1 assessment-input-box-len text-center" type="text" value="{{mm1}}" disabled>
                <input class="assessment-input-box-len text-center" type="text" value="{{mm2}}" disabled>
                <input class="ml-1 assessment-input-box-len text-center" value="{{yy1}}" type="text" disabled>
                <input class="assessment-input-box-len text-center" value="{{yy2}}" type="text" disabled>
                <input class="assessment-input-box-len text-center" type="text" value="{{yy3}}" disabled>
                <input class="assessment-input-box-len text-center" type="text" value="{{yy4}}" disabled>
              </div>
            </div>
             <!-- row -08 -->
            <div class="col-sm-1 border-right">10</div>
            <div class="col-sm-5 border-right">
              <div class="row mt-1">
                &nbsp;Reference Number
              </div>
              <div class="row mb-1">
                &nbsp;{{timeExtensionTrackingNumber}}
              </div>
            </div>
          </div>
          <!-- row -09 -->
        <div class="row border-top border-bottom" style="height: 80px;">
            <div class="col-sm-1 border-left border-right">11</div>
            <div class="col-sm-11 border-right">
              <div class="row">&nbsp;Signature and seal of the Deputy Commissioner of Taxes</div>
              <div class="row">&nbsp;<i>This is a system managed application, and requires no signature.</i></div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
