.backBtn {
    background-color: #01649A;
    color: #ffffff;
    width: 100px;
  }

  .saveContinueBtn {
    background-color: #01649A;
    color: #ffffff;
    margin-right: 10px;
    width: 200px;
  }
  