<!--new design start-->
<div class="app-body">
  <div class="col-md-12 px-0">
    <div class="row pt-5">
      <div class="col-md-12 text-center py-2">
        <button type="button"
          class="btn btn-sm bg-white btn-pill rounded-pill btn-outline-dark btn-customize"><b>Guideline</b></button>
        <button type="button"
          class="btn btn-sm bg-white btn-pill rounded-pill btn-outline-dark btn-customize mx-2"><b>Reference</b></button>
        <button type="button"
          class="btn btn-sm bg-white btn-pill rounded-pill btn-outline-dark btn-customize"><b>Contact Us</b></button>
      </div>
      <div class="col-md-12 pt-3">
        <div class="card-body" style="padding-top: 100px;">
          <div class="row" style="text-align: center;">
            <div class="col-12">
              <h5 style="color: #22223B;"><b>Congratulations!</b></h5>
            </div>
          </div>
          <div class="row" style="text-align: center;">
            <div class="col-12">
              <H6 style="color: #22223B;">Registration Successfully Completed.</H6>
            </div>
          </div>
          <div class="row" style="text-align: center;">
            <div class="col-12">
              <h6 style="color: #22223B; font-size: 12px;">Now you can sign in to your account using to your WIN and
                password.</h6>
              <br>
            </div>
          </div>
          <div class="row" style="text-align: center;">
            <div class="col-12">
              <button routerLink="/auth/sign-in" type="button"
                class="btn btn-lg custom-signin-btn btn-pill rounded-pill"><b>Sign in</b></button>
            </div>
          </div>
          <div class="row custom-row">
            <div class="col-12">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--new design end-->