.card{
    background-color: #F4F9FA;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
    border-top: 0px solid #F4F9FA;
    border-bottom: 0px solid #F4F9FA;
}
.fa-color{
    color: #3F85ED ;
}
.fa-text
{
    font-style: italic;
}
.fa-customize{
    margin-left: auto;
}
.custom-row{
    margin-bottom:170px;
}

.btn-customize {
    background-color: white;
    font-size: 12px;
  }
.btn-customize:hover {
    background-color: black !important;
    color:  white;
  }
::-webkit-input-placeholder {
    font-style: italic;
    font-size: medium;
    text-align: center;
 }
 :-moz-placeholder {
    font-style: italic;  
    font-size: medium;
    text-align: center;
 }
 ::-moz-placeholder {
    font-style: italic; 
    font-size: medium; 
    text-align: center;
 }
 :-ms-input-placeholder {  
    font-style: italic; 
    font-size: medium;
    text-align: center;
 }


 @media (max-width: 767px){
    .logo-text{
        display: block !important;
    }
 }
 @media (min-width: 768px){
    .logo-text{
        display: none !important;
    }
 }

