.text-border{
    border-left: 10px solid #01649A;
    border-right: 0px solid #01649A;
    border-top: 0px solid #01649A;
    border-bottom: 0px solid #01649A;
    padding: 5px 10px;
    // font: normal normal normal 22px/42px Open Sans;
    font-size:22px; 
    font-weight: normal;
    color: #000000;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 10px 10px 20px #00000029;
    border-radius: 10px 37px 37px 10px;
    opacity: 1;
}

.titleSection{
    margin-top: 5px; 
    margin-bottom: 5px;
}

.titleText{
    margin-right: 10px; 
    color: #01649A;
}

.formSection{
    margin-top: 10px;
}

.labelStyle{
    margin-left: 38px; 
    text-align: left;
}

.inputStyle{
    margin-left: 38px; 
}

.buttonRowStyle{
    margin-left: 38px; 
    margin-right: 38px;
}

.submitBtn {
    background-color: #01649A;
    color: #ffffff;
    width: 200px;
}

.reset{
    border: none; 
    background: none; 
    color: #01649A;
}