<div class="app-body">
    <div class="col-md-12 px-0">
        <div class="row pt-5">
            <div class="col-md-12 text-center py-2">
                <!-- <button type="button"
                    class="btn btn-sm bg-white btn-pill rounded-pill btn-outline-dark btn-customize"><b>Guideline</b></button>
                <button type="button"
                    class="btn btn-sm bg-white btn-pill rounded-pill btn-outline-dark btn-customize"><b>Contact
                        Us</b></button> -->
            </div>
            <div class="col-md-12" style="padding-top: 10px;">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center message">
                            <label><b>For query or support  <i class="fa fa-phone-square fa-lg ml-2 mr-1" aria-hidden="true"></i> <span style="color:green;">09612
                            </span><span style="color: red;">71 71 71</span></b></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 text-center">
                <button type="button" [routerLink]="['/auth/sign-in']" class="btn btn-sm btn-pill rounded-pill btn-danger closeBtn"><i class="fa fa-close mr-1"></i>Close</button>
            </div>
        </div>
    </div>
</div>