.text-border{
    border-left: 10px solid #01649A;
    border-right: 0px solid #01649A;
    border-top: 0px solid #01649A;
    border-bottom: 0px solid #01649A;
    padding: 5px 10px;
    // font: normal normal normal 22px/42px Open Sans;
    font-size:22px; 
    font-weight: normal;
    color: #000000;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 10px 10px 20px #00000029;
    border-radius: 10px 37px 37px 10px;
    opacity: 1;
}

.titleSection{
    margin-top: 5px; 
    margin-bottom: 5px;
}

.titleText{
    margin-right: 10px; 
    color: #01649A;
}

.btnText{
    margin-right: 10px;
}

.formSection{
    margin-top: 10px;
}

.labelStyle{
    margin-left: 38px; 
    text-align: left;
}

.inputStyle{
    margin-left: 38px; 
}

.buttonRowStyle{
    margin-left: 38px; 
    margin-right: 38px;
}

.submitBtn {
    background-color: #01649A;
    color: #ffffff;
    width: 130px;
    float: right;
}

// .reset{
//     border: none; 
//     background: none; 
//     color: #01649A;
// }

.reset{ 
    float: left;
    margin-right: 20px !important;
    margin-left: 250px;
}

.buttonCss{
    margin-top: -50px;
}

#payOrderEntryTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
}

#payOrderEntryTable th {
    background-color: #C0D8DE;
    color: #424548;
}

#payOrderEntryTable {
    border: 1px solid #ddd;
}

.tableBgStyle {
    background-color: #FFFFFF; 
}

#payOrderEntryTable tr:nth-child(even){background-color: #f2f2f2;}

.custom-content-background1{
    background: #F4F9FA 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029!important;
    border-radius: 5px!important;
    opacity: 1!important;
    padding: 20px 30px 20px 30px!important;
    margin-top: 15px;
    margin-bottom: 15px;
}
.custom-content-background2{
    background: #F4F9FA 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029!important;
    border-radius: 5px!important;
    opacity: 1!important;
    padding: 20px 30px 20px 30px!important;
    margin-top: 15px;
    margin-bottom: 15px;
}