<!DOCTYPE html>
<html>

<head>
    <title>Regular Tax U/S 74 List</title>
</head>

<!-- <div class="col-md-12 content-background">
    <div class="row">
        <div class="col-6 col-sm-6 titleSection">
            <span class="text-border">
                <i class="fa fa-chevron-left iconStyle">
                </i>Regular Tax U/S 74 List &nbsp; &nbsp;
            </span>
        </div>
        <div class="col-6 mt-3">
            <label class="float-right" for="assessmentYear"> <strong>Assessment Year : </strong> 2021-2022</label>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="content-background formSection">
                <form class="form-horizontal" [formGroup]="regularTaxus74ListForm" aria-labelledby="title">
                    <div class="table-responsive tableBgStyle" id="regularTaxus74ListTable">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">SL.</th>
                                    <th scope="col">TIN No</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Challan No.</th>
                                    <th scope="col">Cheque No.</th>
                                    <th scope="col">P.O No</th>
                                    <th scope="col">date</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Payment Mode</th>
                                    <th scope="col">Bank</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of regularTaxus74GetData; let k = index">
                                    <td scope="row">{{ k+1 }}</td>
                                    <td scope="row">{{ item.tinNo }}</td>
                                    <td scope="row">{{ item.type }}</td>
                                    <td scope="row">{{ item.challanNo }}</td>
                                    <td scope="row">{{ item.chequeNo }}</td>
                                    <td scope="row">{{ item.poNo }}</td>
                                    <td scope="row">{{ item.date }}</td>
                                    <td scope="row">{{ item.amount }}</td>
                                    <td scope="row">{{ item.paymentMode }}</td>
                                    <td scope="row">{{ item.bank }}</td>
                                    <td>
                                        <button (click)="regularTaxus74Confirmation(k)" type="button" class="btn btn-sm uploadBtn">
                                            Verify
                                        </button>
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->

</html>

<ngx-ui-loader text="Under Construction"></ngx-ui-loader>
