<!DOCTYPE html>
<html>

<head>
    <title>Challan Details</title>
</head>

<div class="col-md-10 offset-md-1 content-background">
    <div class="row">
        <div class="col-6 titleSection">
            <span class="text-border">
                <i class="fa fa-chevron-left titleText">
                </i>Challan Details &nbsp; &nbsp;
            </span>
        </div>
    </div>

    <div class="col-md-12">
        <div class="content-background formSection">
            <form class="row form-horizontal" [formGroup]="challanDetailsForm" aria-labelledby="title">

                <div class="col-6">
                    <div class="form-group">
                        <label for="name" class="label col-8 form-control-label">Name</label>
                        <div class="col-12">
                            <input type="text" placeholder="Enter Your Name" formControlName="name" class="form-control"
                                id="name" required readonly
                                [ngClass]="{'is-invalid':challanDetailsForm.get('name').touched && challanDetailsForm.get('name').invalid}">
                            <div class="invalid-feedback">
                                <div>Name is required!</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label for="win" class="label col-8 form-control-label">WIN</label>
                        <div class="col-12">
                            <input type="text" placeholder="Enter WIN" formControlName="win" class="form-control"
                                id="win" required readonly
                                [ngClass]="{'is-invalid':challanDetailsForm.get('win').touched && challanDetailsForm.get('win').invalid}">
                            <div class="invalid-feedback ">
                                <div>WIN is required!</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label for="assessmentYear" class="label col-8 form-control-label">Assessment Year</label>
                        <div class="col-12">
                            <input type="text" placeholder="Enter Your Name" formControlName="assessmentYear"
                                class="form-control" id="assessmentYear" required readonly
                                [ngClass]="{'is-invalid':challanDetailsForm.get('assessmentYear').touched && challanDetailsForm.get('assessmentYear').invalid}">
                            <div class="invalid-feedback ">
                                <div>Assessment Year is required!</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label for="challanDate" class="label col-8 form-control-label ">Challan
                            Date</label>
                        <div class="col-12">
                            <input type="text" placeholder="Enter Challan Date" formControlName="challanDate"
                                class="form-control" id="challanDate" required readonly
                                [ngClass]="{'is-invalid':challanDetailsForm.get('challanDate').touched && challanDetailsForm.get('challanDate').invalid}">
                            <div class="invalid-feedback">
                                <div>Challan Date is required!</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label for="challanNo" class="label col-8 form-control-label">Challan
                            No.</label>
                        <div class="col-12">
                            <input type="text" placeholder="Enter Challan No." formControlName="challanNo"
                                class="form-control" id="challanNo" required readonly
                                [ngClass]="{'is-invalid':challanDetailsForm.get('challanNo').touched && challanDetailsForm.get('challanNo').invalid}">
                            <div class="invalid-feedback">
                                <div>Challan No. is required!</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label for="section" class="label col-8 form-control-label">Section</label>
                        <div class="col-12">
                            <input type="text" placeholder="Enter Your Section" formControlName="section"
                                class="form-control" id="section" required readonly
                                [ngClass]="{'is-invalid':challanDetailsForm.get('section').touched && challanDetailsForm.get('section').invalid}">
                            <div class="invalid-feedback">
                                <div>Section is required!</div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-6">
                    <div class="form-group">
                        <label for="codeNo" class="label col-8 form-control-label ">Code No.</label>
                        <div class="col-12">
                            <input type="text" placeholder="Enter Code No." formControlName="codeNo"
                                class="form-control" id="codeNo" required readonly
                                [ngClass]="{'is-invalid':challanDetailsForm.get('codeNo').touched && challanDetailsForm.get('codeNo').invalid}">
                            <div class="invalid-feedback">
                                <div>Code No. is required!</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="amount" class="label col-8 form-control-label">Amount</label>
                        <div class="col-12">
                            <input type="text" placeholder="Enter Amount" formControlName="amount" class="form-control"
                                id="amount" required readonly
                                [ngClass]="{'is-invalid':challanDetailsForm.get('amount').touched && challanDetailsForm.get('amount').invalid}">
                            <div class="invalid-feedback">
                                <div>Amount is required!</div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-6">
                    <button tybe="button" class="btn btn-sm submitBtn" (click)="onBackPage()">Back</button>
                </div>
            </div>
        </div>
    </div>
</div>

</html>

<!-- <pre>Form values: {{challanDetailsForm.value | json}}</pre> -->