// Variable overrides

$navbar-height: 65px;

// $navbar-bg:#3C8DBC;
// $navbar-color: #fff ;
// $navbar-hover-color:#fff;
// $navbar-active-color:#fff;

$navbar-bg:#f0f4fa;
$navbar-color: #3C8DBC;
$navbar-hover-color:#3C8DBC;
$navbar-active-color:#3C8DBC;

$sidebar-bg:#ECF0F5;
// $sidebar-color:black;
$sidebar-color:#3C8DBC;

// $sidebar-nav-link-color:black;
// $sidebar-nav-link-active-color:black;

$sidebar-nav-link-color:#3C8DBC;
$sidebar-nav-link-active-color:#3C8DBC;

$sidebar-nav-link-active-bg:#e5e9ee;

$sidebar-nav-dropdown-bg:#ECF0F5;
// $sidebar-nav-dropdown-color:black;
// $sidebar-nav-dropdown-indicator-color:black;
// $sidebar-nav-dropdown-indicator-hover-color:black;

$sidebar-nav-dropdown-color:#3C8DBC;
$sidebar-nav-dropdown-indicator-color:#3C8DBC;
$sidebar-nav-dropdown-indicator-hover-color:#3C8DBC;

$sidebar-minimizer-hover-indicator-color: gray;

$sidebar-minimizer-bg: rgba(0,0,0,.1);
$sidebar-minimizer-hover-bg:rgba(0,0,0,.1);
