<div class="container-fluid footer-bg">

<div class="row p-2">
  <div class="col-sm-12" style="text-align: center;">
    <footer class="fontColor">Copyright &copy; {{year}}. National Board of Revenue. All rights reserved.</footer>
  </div>
</div>


  <!-- <div class="row p-3">
    <div class="col-sm-12" style="text-align: center">
      <footer class="fontColor">Copyright &copy; {{year}}. National Board of Revenue. All rights reserved.</footer>
    </div>
    <div class="col-sm-6">
      <footer class="fontColor">&copy;{{year}} - National Board of Revenue(NBR)</footer>
    </div>
    <div class="col-sm-6">
      <footer class="fontColor">
        <div class="row">
          <div class="col-sm-8">
            <span class="created-by">
              Powered by
            </span>
          </div>
          <div class="col-sm-4">
            <img style="display: block;"
              src="../../../../assets/img/logo/synesisIT_logo.png" class="img-fluid" alt="Responsive image" />
          </div>
        </div>
      </footer>
    </div>
  </div> -->

  <!-- new design start -->
  <!-- <div class="row p-2">
    <div class="col-sm-5">
      <footer class="fontColor nbrText">&copy;{{year}} - National Board of Revenue(NBR)</footer>
    </div>
    <div class="col-sm-4">
      <footer class="fontColor">
        <div class="row">
          <div class="col-sm-7">
            <span class="created-by">
              Managed by
            </span>
          </div>
          <div class="col-sm-5">
            <img style="display: block;" src="../../../../assets/img/logo/synesisIT_logo.png"
              class="img-fluid synesis_logo" alt="Responsive image" />
          </div>
        </div>
      </footer>
    </div>
    <div class="col-sm-3">
      <footer class="art_logo_section">
        <div class="row">
          <div class="col-sm-9">
            <span class="created-by">
              Graphic
            </span>
          </div>
          <div class="col-sm-3">
            <img style="display: block;" src="../../../../assets/img/logo/art_logo.jpg" class="img-fluid art_logo"
              alt="Responsive image" />
          </div>
        </div>
      </footer>
    </div>
  </div> -->
  <!-- new design end -->

</div>