.text-border{
    border-left: 10px solid #01649A;
    border-right: 0px solid #01649A;
    border-top: 0px solid #01649A;
    border-bottom: 0px solid #01649A;
    padding: 5px 10px;
    // font: normal normal normal 22px/42px Open Sans;
    font-size:22px; 
    font-weight: normal;
    color: #000000;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 10px 10px 20px #00000029;
    border-radius: 10px 37px 37px 10px;
    opacity: 1;
}

.titleSection{
    margin-top: 5px; 
    margin-bottom: 5px;
}

.titleText{
    margin-right: 10px; 
    color: #01649A;
}

.btnText{
    margin-right: 10px;
}

.formSection{
    margin-top: 10px;
}

.labelStyle{
    margin-left: 38px; 
    text-align: left;
}

.inputStyle{
    margin-left: 38px; 
}

.buttonRowStyle{
    margin-left: 38px; 
    margin-right: 38px;
}

.submitBtn {
    background-color: #01649A;
    color: #ffffff;
    width: 130px;
    float: right;
}

// .reset{
//     border: none; 
//     background: none; 
//     color: #01649A;
// }

.searchBtn{
    background-color: #01649A;
    color: #ffffff;
    width: 120px;
    margin-left: 15px;
  }

.reset{ 
    float: left;
    margin-right: 20px !important;
    margin-left: 200px;
}

.buttonCss{
    margin-top: -50px;
}

#advanceTaxTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
}

#advanceTaxTable th {
    background-color: #C0D8DE;
    color: #424548;
}

#advanceTaxTable {
    border: 1px solid #ddd;
}

.tableBgStyle {
    background-color: #FFFFFF; 
}

#advanceTaxTable tr:nth-child(even){background-color: #f2f2f2;}

::ng-deep .tooltip-350 ~ .tooltip .tooltip-inner {
    max-width: 380px;
    min-width: 380px;
    background: #F4F9FA 0% 0% no-repeat padding-box;
    box-shadow: 1px 1px 10px 2px #00000029;
    color: #0F0F0F;
    font-size: 12px;
    font-style: italic;
    font-family: Helvetica;
    font-weight: bold;
    text-align: center;
  
}
  
.tooltip-350 {
    margin-left: 3px;
    margin-right: 3px;
}

.centered {
    position: fixed;
    top: 50%;
    left: 60%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    font-size: 20px!important;
}