<div class="container-fluid bg-img">
  <div class="row min-vh-100">
    <div class="col-md-8 left-section">
      <div class="row">
        <div class="col-md-6 offset-md-1 pt-5">
          <img src="assets\img\background\NBR_logo.jpg">
          <!-- <h1>eReturn</h1> -->
        </div>
        <div class="col-md-4 offset-md-1 pt-5 justify-content-end">
          <img src="assets\img\logo\eReturn_Logo.svg" style="float: right; padding-right: 20px; width: 65%;">
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-md-6 offset-md-1 pt-5">
          <div class="card shadow">
            <div class="card-body">
              <h4 style="color: #01649A;"><b>Announcement</b></h4>
              <div class="pt-3" *ngFor="let announce of announcementList">
                <div class="d-flex justify-content-between">
                  <h6 class="m-0 font-14"><b>{{announce.title}}</b></h6>
                </div>
                <div class="pt-2">
                  <p class="text-justify m-0 font-12">{{announce.announcementDetail}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
    <div class="col-md-4 shadow bg-grey">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>