<div class="row">
  <div class="col-sm-12 text-center text-style">
    <div>
      <span>The set of questionaries will be placed here</span>
    </div>
    <div>
      <span>(Will provide by Team)</span>
    </div>
  </div>
</div>
<div class="row" style="margin-top: 50px">
  <div class="col-sm-5 offset-sm-1">
    <button type="button" class="btn btn-style" routerLink="../assessment">
      <svg style="font-size: 20px;" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
      </svg>&nbsp;
      Back</button>
  </div>

  <div class="col-sm-4 offset-sm-1" style="text-align: right">
    <button type="button" class="btn btn-style" routerLink="../heads-of-income">
      <svg style="font-size: 20px;vertical-align: sub" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
      </svg>&nbsp;
      Next</button>
  </div>
</div>
