<!DOCTYPE html>
<html>

<head>
    <title>Make claim message</title>
</head>

<!-- <div class="col-md-12 content-background">
    <iframe [src]='goToSource()' style="display: none;" id="ifr"></iframe>
    <div class="row">
        <div class="col-12 titleSection text-center">
            <span class="text-border">
                <b>Make claim of source tax payment</b>
            </span>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <p>
                Some of your source tax payments may not display in verified tax payment status due to the fact that
                online verification with tax deducting/collecting agencies has not yet completed. Online verification of
                source tax is gradually integrating.
            </p>
            <p>
                You may make claim of unverified source tax payment here.
            </p>
            <p>
                If you select this make claim option, you will submit online return with existing verified tax payment.
                Your claimed source tax payment will be eligible for credit against any of your subsequent tax payable
                as soon as the online verification of your claimed payment is completed.
            </p>
            <p>
                You will be notified at the completion of verification.
            </p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <span><b>What you want to do?</b></span>
        </div>
        <div class="col-12 mt-3">
            <div class="font-14">
                <a routerLink="/pages/make-claim-message" style="color: #145DA0; font-weight: normal; cursor: pointer;">
                    Make claim and proceed to online filing 
                </a>
            </div>
        </div>
        <div class="col-12 mt-3 mb-3">
            <div class="font-14">
                <a (click)="goToEReturnOffline()" style="color: #145DA0; font-weight: normal; cursor: pointer;">
                    Proceed to offline (paper) return
                </a>
            </div>
        </div>
    </div>
</div> -->

<div class="col-md-12">
    <div class="row centered">
        <div class="col-12">
          <span><b>Under construction</b></span>
        </div>
    </div>
</div>

</html>

<ngx-ui-loader></ngx-ui-loader>