<!DOCTYPE html>
<html>

<head>
    <title>List of Top Female Taxpayers by Tax Paid</title>
</head>

<div class="col-md-12 content-background">
    <div class="row">
        <div class="col-8 col-sm-8 titleSection">
            <span class="text-border">
                <i class="fa fa-chevron-left iconStyle">
                </i>List of Top Female Taxpayers by Tax Paid &nbsp; &nbsp;
            </span>
        </div>
        <div class="col-4 mt-4">
            <label class="float-right" for="assessmentYear"> <strong>Assessment Year : </strong> 2021-2022</label>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="content-background formSection">
                <form class="form-horizontal" aria-labelledby="title">
                    <div class="table-responsive tableBgStyle" id="approvalListTable">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">SL.</th>
                                    <th scope="col">TIN</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Amount of Tax Paid</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="row">1</td>
                                    <td scope="row">234678378563</td>
                                    <td scope="row">Saira Khatun</td>
                                    <td scope="row">{{9863 | number}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">2</td>
                                    <td scope="row">426890847652</td>
                                    <td scope="row">Sifat Ara Rofique</td>
                                    <td scope="row">{{15673 | number}}</td>
                                </tr>   
                                <tr>
                                    <td scope="row">3</td>
                                    <td scope="row">324345424987</td>
                                    <td scope="row">Jannat Begum </td>
                                    <td scope="row">{{65432 | number}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">4</td>
                                    <td scope="row">863266521874</td>
                                    <td scope="row">Sadia Ahmed</td>
                                    <td scope="row">{{24367 | number}}</td>
                                </tr>                                      
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</html>


