<div class="row custom-container" style="margin-top: 10px">
  <div class="col-sm-12">
    <div class="content-background" style="height: 100%">
      <!-- <div class="row px-2 pt-2 text-center">
          <div class="col-sm-12">
            <h5 class="font-weight-bolder">SCHEDULE 24B</h5>
            <h5>Particulars of income from house property</h5>
          </div>
          <div class="col-sm-12 text-right customMargin">
            <img src="assets\img\logo\eReturn_Logo.svg" class="eReturn-logo" alt="logo">
          </div>
          <div class="col-sm-12 text-left customMargin">
            <label for="">Reference No: <span style="font-weight: bold;">2112169899</span></label>
          </div>
        </div> -->
      <div class="row">
        <div class="col-sm-12">
          <!-- row -1 -->
          <!-- <div class="row border-full">
              <div class="col-sm-1 border-right">01</div>
              <div class="col-sm-5 border-right">
                <div class="row mt-2">
                  &nbsp;Assessment Year
                </div>
                <div class="row mb-2">
                  &nbsp;<input type="text" class="assessment-input-box-len text-center" value="{{assYr1}}" disabled>
                  <input class="ml-1 assessment-input-box-len text-center" type="text" value="{{assYr2}}" disabled>
                  <input class="ml-1 assessment-input-box-len text-center" type="text" value="{{assYr3}}" disabled>
                  <input class="ml-1 assessment-input-box-len text-center" type="text" value="{{assYr4}}" disabled>
                  <span class="mt-2">-</span>
                  <input class="assessment-input-box-len text-center" type="text" value="{{assYr5}}" disabled>
                  <input class="ml-1 assessment-input-box-len text-center" type="text" value="{{assYr6}}" disabled>
                </div>
              </div>
              <div class="col-sm-1" style="border-right: 1px solid black;">02</div>
              <div class="col-sm-5">
                <div class="row">&nbsp; TIN</div>
                <div class="row">&nbsp; {{userTin}}</div>
              </div>
            </div> -->

          <div *ngFor="let oHp of storeHPData">
            <!-- heading -->
            <div class="row px-2 pt-4 text-center">
              <div class="col-sm-12">
                <h5 class="font-weight-bolder">SCHEDULE 24B</h5>
                <h5>Particulars of income from house property</h5>
              </div>
              <div class="col-sm-12 text-right customMargin">
                <img src="assets\img\logo\eReturn_Logo.svg" class="eReturn-logo" alt="logo">
              </div>
              <div class="col-sm-12 text-left customMargin">
                <label for="">Reference No: <span style="font-weight: bold;">{{referenceNo}}</span></label>
              </div>
            </div>
            <!-- row -1  -->
            <div class="row">
              <div class="col-sm-1 border-left border-top border-bottom border-right">01</div>
              <div class="col-sm-5 border-top border-bottom border-right">
                <div class="row mt-2">
                  &nbsp;Assessment Year
                </div>
                <div class="row mb-2">
                  &nbsp;<input type="text" class="assessment-input-box-len text-center" value="{{assYr1}}" disabled>
                  <input class="ml-1 assessment-input-box-len text-center" type="text" value="{{assYr2}}" disabled>
                  <input class="ml-1 assessment-input-box-len text-center" type="text" value="{{assYr3}}" disabled>
                  <input class="ml-1 assessment-input-box-len text-center" type="text" value="{{assYr4}}" disabled>
                  <span class="mt-2">-</span>
                  <input class="assessment-input-box-len text-center" type="text" value="{{assYr5}}" disabled>
                  <input class="ml-1 assessment-input-box-len text-center" type="text" value="{{assYr6}}" disabled>
                </div>
              </div>
              <div class="col-sm-1 border-top border-bottom border-right">02</div>
              <div class="col-sm-5 border-top border-bottom border-right">
                <div class="row">&nbsp; TIN</div>
                <div class="row">&nbsp; {{userTin}}</div>
              </div>
            </div>
            <!-- row-2-->
            <!-- <div class="row mt-3 mb-0 pb-0">For each house property</div> -->
            <div class="row  border-bottom mb-4">
              <div class="col-sm-1  border-left border-right">
                <div class="row ml-1">03</div>
              </div>
              <div class="col-sm-11 border-right">
                <div class="row">
                  <div class="col-md-12 border-bottom" style="height: 50px;">
                    <div class="row">&nbsp;Description of the house property</div>
                    <div class="row">&nbsp;{{oHp.desOfProperty}}</div>
                  </div>
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-1 border-right">03A</div>
                      <div class="col-md-4 border-right">
                        <div class="row">&nbsp;Address of the property</div>
                        <div class="row">&nbsp;{{oHp.addressOfProperty}}</div>
                      </div>
                      <div class="col-md-7">
                        <div class="row">
                          <div class="col-md-2 border-right border-bottom" style="height: 100px;">03B</div>
                          <div class="col-md-10 border-bottom">
                            <div class="row"> &nbsp;Total area</div>
                            <div class="row"> &nbsp;{{oHp.totalArea }} Sq. ft.</div>
                          </div>
                          <div class="col-md-2 border-right" style="height: 100px;">03C</div>
                          <div class="col-md-10">
                            <div class="row"> &nbsp;Share of the asessee (%)</div>
                            <div class="row"> &nbsp;{{oHp.shareOfAsessee}}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- row-3-->
            <div class="row border-top border-bottom mb-3">
              <div class="col-sm-12">
                <div class="row border-left border-right border-bottom">
                  <div class="border-right" style="width: 77.1%;">&nbsp;Income from house property</div>
                  <div class="text-center" style="width: 22.9%">&nbsp;Amount</div>


                </div>
                <div class="row border-left border-right border-bottom">
                  <div class="col-md-1 border-right">04</div>
                  <div class="col-md-11">
                    <div class="row">
                      <div class="col-md-9 border-right">&nbsp;Annual Value</div>
                      <div class="col-md-3 text-right">{{oHp.annualValue }}</div>
                    </div>
                  </div>
                </div>
                <div class="row border-left border-right border-bottom">
                  <div class="col-md-1 border-right">05</div>
                  <div class="col-md-11">
                    <div class="row">
                      <div class="col-md-9 border-right">&nbsp;Deductions (aggregate of 05A to 05G)</div>
                      <div class="col-md-3 text-right">{{oHp.deductions}}</div>
                    </div>
                    <div class="row border-top">
                      <div class="col-md-1 border-right">05A </div>
                      <div class="col-md-8 border-right">Repair, Collection, etc </div>
                      <div class="col-md-3 text-left">{{oHp.repairCollection}}</div>
                    </div>
                    <div class="row border-top">
                      <div class="col-md-1 border-right">05B </div>
                      <div class="col-md-8 border-right">Municipal or Local Tax </div>
                      <div class="col-md-3 text-left">{{oHp.municipalLocalTax}}</div>
                    </div>
                    <div class="row border-top">
                      <div class="col-md-1 border-right">05C </div>
                      <div class="col-md-8 border-right">Land Revenue </div>
                      <div class="col-md-3 text-left">{{oHp.landRev}}</div>
                    </div>
                    <div class="row border-top">
                      <div class="col-md-1 border-right">05D </div>
                      <div class="col-md-8 border-right">Interest on Loan/Mortgage/Capital Charge </div>
                      <div class="col-md-3 text-left">{{oHp.interestOnLoan}}</div>
                    </div>
                    <div class="row border-top">
                      <div class="col-md-1 border-right">05E </div>
                      <div class="col-md-8 border-right">Insurance Premium </div>
                      <div class="col-md-3 text-left">{{oHp.insurancePremium }}</div>
                    </div>
                    <div class="row border-top">
                      <div class="col-md-1 border-right">05F </div>
                      <div class="col-md-8 border-right">Vacancy Allowance </div>
                      <div class="col-md-3 text-left">{{oHp.vacancyAlw }}</div>
                    </div>
                    <div class="row border-top">
                      <div class="col-md-1 border-right">05G </div>
                      <div class="col-md-8 border-right">Other, if any </div>
                      <div class="col-md-3 text-left">{{oHp.OthrIfAny }}</div>
                    </div>
                  </div>
                </div>

                <div class="row border-left border-right border-bottom">
                  <div class="col-md-1 border-right">06</div>
                  <div class="col-md-11">
                    <div class="row">
                      <div class="col-md-9 border-right">&nbsp;Income from house property (04-05)</div>
                      <div class="col-md-3 text-right">{{oHp.incomeFromHP }}</div>
                    </div>
                  </div>
                </div>
                <div class="row border-left border-right">
                  <div class="col-md-1 border-right">07</div>
                  <div class="col-md-11">
                    <div class="row">
                      <div class="col-md-9 border-right">&nbsp;In case of partial ownership, the share of income</div>
                      <div class="col-md-3 text-right"> {{oHp.partialOwnershipShare}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--row-4-->
          <div class="row mt-3 mb-0 pb-0">Provide information if income from more than one house property</div>
          <div class="row border-left border-right border-bottom border-top">
            <div class="col-md-1 border-right">08</div>
            <div class="col-md-11">
              <div class="row">
                <div class="col-md-9 border-right">&nbsp;Aggregate of income of all house properties (1+2+3+- - - )
                </div>
                <div class="col-md-3 text-right">৳ {{totalIncomeFromHP}}</div>
              </div>
              <div class="row border-top" *ngFor="let oHp of storeHPData; let i = index">
                <div class="col-md-1 border-right text-center"> {{i+1}} </div>
                <div class="col-md-8 border-right">(Income from house property {{i+1}}) </div>
                <div class="col-md-3 text-right">৳ {{oHp.partialOwnershipShare}}</div>
              </div>
            </div>
          </div>

          <!-- row-24 -->
          <div class="row border-top border-bottom mt-4 mb-4" style="height: 100px;">
            <div class="col-sm-6  border-left border-right">
              <div class="row">&nbsp;Name</div>
              <div class="row">&nbsp;{{taxPayerName}}</div>
            </div>
            <div class="col-sm-6 border-right">
              <div class="row">&nbsp;Signature & Date</div>
              <div class="row"><i>
                  &nbsp;This is a system generated document. No signature is required.
                </i></div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
