.text-border{
    border-left: 10px solid #01649A;
    border-right: 0px solid #01649A;
    border-top: 0px solid #01649A;
    border-bottom: 0px solid #01649A;
    padding: 5px 10px;
    // font: normal normal normal 22px/42px Open Sans;
    font-size:22px; 
    font-weight: normal;
    color: #000000;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 10px 10px 20px #00000029;
    border-radius: 10px 37px 37px 10px;
    opacity: 1;
}

.titleSection{
    margin-top: 5px; 
    margin-bottom: 5px;
}

.titleText{
    margin-right: 10px; 
    color: #FFFFFF;
}

.iconStyle{
    margin-right: 10px;
    color: #01649A;
}

.formSection{
    margin-top: 10px;
}

.addBtn {
    background-color: #01649A;
    color: #ffffff;
}

.uploadBtn{
    background-color: #01649A;
    color: #ffffff;
}

#challanListTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
}

#challanListTable th {
    background-color: #C0D8DE;
    color: #424548;
}

#challanListTable {
    border: 1px solid #ddd;
}

.tableBgStyle {
    background-color: #FFFFFF; 
}

#challanListTable tr:nth-child(even){background-color: #f2f2f2;}

#chalanDetailsTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
}

#chalanDetailsTable th {
    background-color: #C0D8DE;
    color: #424548;
}

#chalanDetailsTable {
    border: 1px solid #ddd;
}

.tableBgStyle {
    background-color: #FFFFFF; 
}

#chalanDetailsTable tr:nth-child(even){background-color: #f2f2f2;}
