<div class="row">
    <div class="col-6 titleSection">
        <span class="text-border">
            <i class="fa fa-chevron-left titleText">
            </i>Challan Details &nbsp; &nbsp;
        </span>
    </div>
    <div class="col-6 text-right" style="padding-top:23px; padding-right:23px;">
        {{companyName}}
 </div>
</div>
<div class="row mt-3">
    <div class="col-md-12">
        <div class="content-background">
            <form class="form-horizontal"  aria-labelledby="title">
                <div class="table-responsive tableBgStyle" id="tdsTable">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">SL.</th>
                                <th scope="col">Taxpayer Name</th>
                                <th scope="col">TIN</th>
                                <th scope="col">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of challanDetails; let k=index">
                                <td scope="row">{{k+1}}</td>
                                <td scope="row">{{item.name}}</td>
                                <td scope="row text-center">{{item.tin}}</td>
                                <td scope="row">{{item.amount}}</td>                                   
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>