<div>
    <!-- <div class="border-full text-center bg_image">
        <div class="col-12 text-center" style="margin-top: 50px;">
            <img src="assets\img\background\eReturn-logo.png" class="eReturn-logo" alt="logo">
        </div>
        <div style="margin-top: 20px;">
            <h2>Welcome to e-Return Management!</h2>
        </div>
    </div> -->
    <div class="text-center bg_image">
        <div class="col-12 text-center">
            <img src="assets\img\logo\office_logo.svg" class="eReturn_office_logo" alt="logo">
        </div>
    </div>
</div>