<!--new design start-->
<div class="app-body">
  <div class="col-md-12 px-0">
    <div class="row pt-5">
      <div class="col-md-12 text-center py-2">
        <!-- <button type="button" class="btn btn-sm bg-white btn-pill rounded-pill btn-outline-dark btn-customize"><b>Guideline</b></button>                         
        <button type="button" class="btn btn-sm bg-white btn-pill rounded-pill btn-outline-dark btn-customize mx-2"><b>Reference</b></button>
        <button type="button" class="btn btn-sm bg-white btn-pill rounded-pill btn-outline-dark btn-customize"><b>Contact Us</b></button> -->
      </div>
      <div class="col-md-12" style="padding-top: 100px;">
        <form class="col-md-8 offset-md-2">
          <h3 style="color: green;">Thank you!</h3>
          <p class="text-justify font-14">
             We already sent you a token to your mobile number.
            </p>
  
              <p class="text-justify font-14">Please bring the documents below when you visit the
                support center.</p>                                                         
                <ol class="font-14">
                  <li>
                      Valid Passport (Original)
                  </li>                 
                  <li>
                      Active mobile number ending with ********{{ mobileNoLastDigits }}
                  </li>
                  <li>
                    Token number
                </li>
                </ol>   
                <div class="row custom-row">
                  <div class="col-12">                     
                  </div>
                </div>                                           
        </form>
      </div>
    </div>
  </div>
</div>
<!--new design end-->

  
