<div class="container-fluid bg-img">
  <div class="row min-vh-100">
    <div class="left-section">
      <div class="row">
        <div class="col-md-6 offset-md-1 pt-5">
          <img src="assets\img\background\NBR_logo.jpg">
        </div>
        <div class="col-md-4 offset-md-1 pt-5 justify-content-end">
          <img src="assets\img\logo\eLedger_logo.png" class="logoStyle">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 offset-md-1 pt-5">
        </div>
      </div>
    </div>
    <div class="shadow bg-grey right-section">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


<!-- newly added -->

<!-- <div>
  <router-outlet></router-outlet>
</div> -->